@keyframes slide-in-left {
    0% {
        transform: translateX(-100%); 
    }
    
    100% {
        transform: translateX(0);
    }
}

#menu-content {
    animation: slide-in-left 500ms ease-out forwards;
}