@keyframes slide-in-left {
    0% {
        transform: translateX(-100%); 
    }
    
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide-down-open {
    0% {
        transform: translateY(-100%); 
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up-close {
    0% {
        transform: translateY(0); 
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1)
  } 
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-trigger-left {
    will-change: transform, opacity;
}

.animation-trigger-right {
    will-change: transform, opacity;
}

.animation-slide-in-from-left {
    animation: slide-in-from-left 1s ease-out forwards;
}

.animation-slide-in-from-right {
  animation: slide-in-from-right 1s ease-out forwards;
}

.menu-open {
    animation: slide-in-left 300ms ease-out forwards;
}

.menu-close {
    animation: slide-out-left 300ms ease-out forwards;
}

.search-open {
    animation: slide-down-open 300ms ease-out forwards;
}

.search-close {
    animation: slide-up-close 300ms ease-in forwards;
}

.carousel {
    transition: 
        opacity 0.7s ease-out, 
        transform 0.7s ease-out;

    opacity: 0;
    transform: translateY(30px);
}

.swiper-slide-active .carousel {
    opacity: 1;
    transform: translateY(0);
}

.animation-fade-in {
    animation: fade-in 500ms ease-out forwards;
}

.animation-fade-out {
    animation: fade-out 500ms ease-out forwards;
}

.animation-pulse {
    animation: pulse 2s ease-out forwards infinite;
}

